@import "./variables.css";
:root {
    --dark-cyan: #07465c;
    --light-pink: #FF5980;
     --light-yellow: #D4CEB8;
      --orange: #FF6E51;
  }

  @font-face {
  font-family: 'D-DIN';
  src: url('assets/fonts/D-DIN.oft') format('opentype'),
       url('assets/fonts/D-DIN-Italic.oft') format('opentype'),
       url('assets/fonts/D-DIN-Bold.oft') format('opentype'),
       url('assets/fonts/D-DINCondensed.oft') format('opentype'),
       url('assets/fonts/D-DINCondensed-Bold.oft') format('opentype'),
       url('assets/fonts/D-DINExp-Bold.oft') format('opentype'),
       url('assets/fonts/D-DINExp-Italic.oft') format('opentype'),
       url('assets/fonts/D-DINExp.oft') format('opentype');
  font-weight: normal;
  font-style: normal;
}

  
  /*-----CS RESET-----*/
  /* 1. Use a more-intuitive box-sizing model */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  

  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: "D-DIN", sans-serif;
    background: var(--surface__primary);
    color: var(--text-primary);
    font-style: normal;
  }
  
  /* 5. Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root,
  #__next {
    isolation: isolate;
  }
  
  
  h2 {
    font-family: "Rubik"; 
    font-size: 3em;
    text-shadow: -2px 3px 0px #FF5980;
    font-weight: 900;
    margin-bottom: 10px;
  }
  
  
  /*-----NAV BAR STYLING-----*/
  #navbar {
    background: #02141e;
    font-family: "Rubik";
    font-size: 1.75em;
    font-weight: 900;
    z-index: 5;
    position: fixed;
    width: 100%;
    top: 0;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #navbar img {
    width: 20%;
    max-width: 100px;
    margin:5px 10px 5px 10px;
  }
  
  #navbar li {
    list-style-type: none;
    display: flex;
  }
  #navbar a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
  }
  #navbar a:hover {
    font-family: "Rubik Glitch";
    font-weight: 400;
    border-radius: 13px;
    background: #ef1d84;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .nav-menu {
    display: flex;
    list-style: none;
  }
  .nav-menu li {
    margin-left: 2rem;
  }
  
  #menu-toggle {
    display: none;
  }
  .menu-button {
    display: none; /* Hidden on desktop */
    cursor: pointer;
  }
  
  .hamburger {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    position: relative;
    transition: all 0.3s ease;
  }
  
  /* Creating the top and bottom lines of the hamburger */
  .hamburger::before,
  .hamburger::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    position: absolute;
    transition: all 0.3s ease;
  }
  
  .hamburger::before {
    top: -8px;
  }
  
  .hamburger::after {
    bottom: -8px;
  }
  
  /*-----WELCOME SECTION-----*/
  #welcome-section {
    text-align: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 10% 2%;
     background: radial-gradient(circle at bottom, var(--orange) 0, black 100%);
    z-index: -2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  
  h1 {
    margin: 0 auto;
    font-family: "Rubik";
    font-size: 3.5em;
    font-weight: 900; 
    z-index: 20;
    display: block;
    /*
    white-space: nowrap;
    overflow: hidden;


clear







